body {
  background-color:#4aa89b;
  text-align:center;
}
.temp-text {
  margin-top:15%;
  font-family: 'Poiret One', cursive;
  font-size:1.5em;
  color:white;
}
.welcome {
  font-size:2em;
  font-weight:900;
  padding-bottom:2%;
}
.hidden {
  display: none;
}
